<div class="dialog-container">
    <h3 mat-dialog-title>Crear publicidad</h3>

    <form class="mat-dialog-content" [formGroup]="formGroup">

        <div class="form">
            <mat-form-field color="primary">
                <mat-label>Url de publicidad</mat-label>
                <input matInput formControlName="url" class="form-control" maxlength="100">
                <mat-hint align="end">{{ formGroup.get('url')?.value?.length || 0 }}/100</mat-hint>
            </mat-form-field>
        </div>

        <div class="form">
            <div class="image-input">
                <img *ngIf="this.imageSelected" [src]="this.imageURL" class="image-preview">
                <span *ngIf="!this.imageSelected" ngClass="image-error">Debe seleccionar una imagen</span>
                <input type="file" accept="image/*" id="imageInput" (input)="handleFileSelect($event)">
                <label for="imageInput" class="image-button"><i class="far fa-image"></i>Seleccionar imagen*</label> 
            </div>
        </div>

        <div mat-dialog-actions>
            <button mat-button [disabled]="!isFormValid()" (click)="submit()" [mat-dialog-close]="1">Crear</button>
            <button mat-button (click)="onNoClick()">Cancelar</button>
        </div>
    </form>
</div>