<div class="login-body">
    
    <form class="login-form">
        <h1>Ingreso al Sistema</h1>
        <p class="error-message"  *ngIf="this.userNameControl.hasError('required')">
            El nombre de usuario es requerido
        </p>

        <p *ngIf="!this.userNameControl.hasError('required')">
            Nombre de usuario
        </p>

        <input type="text" [formControl]="this.userNameControl" maxlength="50" name="userName" class="mb-4 input-text"
            placeholder="Usuario" required>

        <p class="error-message"  *ngIf="this.userPasswordControl.hasError('required')">
            La contraseña es requerida
        </p>

        <p *ngIf="!this.userPasswordControl.hasError('required')">
            Contraseña
        </p>

        <input type="password" [formControl]="this.userPasswordControl" maxlength="100" name="password"
           placeholder="Contraseña" required><br>
        <p class="error-message"  *ngIf="this.isLoginIncorrect">{{this.messageToShow}}</p>
        <p *ngIf="!this.isLoginIncorrect">Ingresar</p>
        
        <button type="button" class="mb-4 input-button" (click)="onLogin()"
            [disabled]="!this.isLoginValid()">Ingresar</button>
    </form>
</div>