.mat-table {
  overflow: auto;
  max-height: 500px;
}

mat-cell {
  color: #ffffff;
}

mat-header-cell {
  color: #ffffff;
}

.cell-reserved {
  background-color: rgb(235, 235, 76);
  color: black;
}

.cell-available {
  background-color: rgb(82, 206, 82);
  color: black;
}

.cell-inactive {
  background-color: rgb(226, 138, 138);
  color: black;
}

.example-container {
  margin: 2rem;
  max-height: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.send-button {
  margin: 2em;
  background-color: #626666;
  color: black;
  transition: .4s;
}

.send-button:focus, .send-button:hover {
  background-color: #b1b1b1;
  transition: .4s;
}

.send-button:active {
  background-color: #ffa260;
}