* {
    color: #ffffff;
}

body, html {
    width: 100%;
    margin: 0;
    background-color: rgb(60, 60, 60);
}


/*
    Global Navbar, footer and header color
*/
.accent-color {
    background-color: rgb(40, 40, 40);
}

.page-content {
    display: inline;
}