<div class="page-content">
    <div class="grid">
        <a class="item" routerLink="/home" routerLinkActive="active">Inicio</a>
        <a class="item" routerLink="/pages" routerLinkActive="active">Modificar Páginas</a>
        <a class="item" routerLink="/reservations" routerLinkActive="active">Listado de reservaciones</a>
        <a class="item" routerLink="/rooms" routerLinkActive="active">Administrar Habitaciones</a>
        <a class="item" routerLink="/status" routerLinkActive="active">Ver estado del Hotel</a>
        <a class="item" routerLink="/availability" routerLinkActive="active">Consultar Disponibilidad</a>
        <a class="item" routerLink="/advertisement" routerLinkActive="active">Publicidad</a>
        <a class="item" routerLink="/admins" routerLinkActive="active">Agregar Administrador</a>
        <a class="item" routerLink="/seasons" routerLinkActive="active">Gestionar temporadas</a>
        <a class="item" routerLink="/discounts" routerLinkActive="active">Gestionar descuentos</a>
        <a class="item" routerLink="/feedbacks" routerLinkActive="active">Gestionar quejas y sugerencias</a>
     </div>
</div>