<div ngClass="dialog-container">
    <h3 mat-dialog-title>Crear temporada</h3>

    <form ngClass="mat-dialog-content" (ngSubmit)="this.submit()" #formControl="ngForm">

        <div ngClass="form">
            <mat-form-field color="primary">
                <mat-label>Nombre</mat-label>
                <input matInput #inputName ngClass="form-control" [(ngModel)]="season.name" name="name" maxlength="80" required>
                <mat-hint [align]="'end'">{{inputName.value!.length || 0}}/80</mat-hint>
            </mat-form-field>
        </div>

        <div ngClass="form">
            <mat-form-field color="primary">
                <mat-label>Porcentaje</mat-label>
                <input matInput [type]="'number'" (input)="checkPercentage(inputPercentage)" #inputPercentage ngClass="form-control" [(ngModel)]="season.porcentage" name="percentage" maxlength="3" required>
                <mat-hint [align]="'end'">{{inputPercentage.value!.length || 0}}/3</mat-hint>
            </mat-form-field>
        </div>

        <div ngClass="form">
            <mat-form-field #beginingDateForm>
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [formControl]="beginingDateControl" [matDatepicker]="beginingDate"
                    [min]="minDateForBegining" (dateInput)="setBeginingDateValue($event.target.value)"
                    [readonly]="true">
                <mat-datepicker-toggle matIconSuffix [for]="beginingDate"></mat-datepicker-toggle>
                <mat-datepicker #beginingDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div ngClass="form">
            <mat-form-field>
                <mat-label>Fecha de fin</mat-label>
                <input matInput [formControl]="endingDateControl" [matDatepicker]="endingDate"
                    [min]="minDateForEnding" [readonly]="true">
                <mat-datepicker-toggle matIconSuffix [for]="endingDate"></mat-datepicker-toggle>
                <mat-datepicker #endingDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button [disabled]="!this.isFormValid()" (click)="this.submit()" [mat-dialog-close]="1">Crear</button>
            <button mat-button (click)="onNoClick()">Cancelar</button>
        </div>
    </form>
</div>