.inputs-container {
    display: flex;
    flex-wrap: wrap;
}

.input {
    padding: 1em;
}

.title {
    font-weight: bolder;
}

.rooms-table {
    display: block;
    position: relative;
}

.mat-table {
    max-height: 30em;
    overflow: auto;
}

.component-title {
    padding: 1em;
    font-size: x-large;
    font-weight: bolder;
}

.send-button {
    margin: 1em;
    background-color: #626666;
    color: black;
    transition: .4s;
}

.send-button:focus, .send-button:hover {
    background-color: #b1b1b1;
    transition: .4s;
}

.send-button:active {
    background-color: #ffa260;
}

mat-select, mat-date-picker, mat-label, mat-option, mat-form-field {
    color: black;
}

th, td {
    color: #fff;
}