<app-navigation-menu></app-navigation-menu>
<div class="page-content">
    <p class="component-title">Consultar Disponibilidad de Habitaciones</p>

    <div class="inputs-container">
        <div class="input">
            <span class="title">Fecha Llegada:</span>
            <hr>
            <mat-form-field #beginingDateForm>
                <mat-label>{{getDateFormatString()}}</mat-label>
                <input matInput [formControl]="beginingDateControl" [matDatepicker]="beginingDate"
                    [min]="minDateForBegining" (dateInput)="setBeginingDateValue($event.target.value)"
                    [readonly]="true">
                <mat-datepicker-toggle matIconSuffix [for]="beginingDate"></mat-datepicker-toggle>
                <mat-datepicker #beginingDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="input">
            <span class="title">Fecha Salida:</span>
            <hr>
            <mat-form-field>
                <mat-label>{{getDateFormatString()}}</mat-label>
                <input class="main-color" matInput [formControl]="endingDateControl" [matDatepicker]="endingDate"
                    [min]="minDateForEnding" [readonly]="true">
                <mat-datepicker-toggle matIconSuffix [for]="endingDate"></mat-datepicker-toggle>
                <mat-datepicker #endingDate></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="input">
            <span class="title">Tipo de Habitación:</span>
            <hr>
            <mat-form-field>
                <mat-label>Tipo de Habitación</mat-label>
                <mat-select [formControl]="roomTypeControl" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let roomType of roomTypes" [value]="roomType">
                        {{ roomType.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="roomTypeControl.hasError('required')">Por favor, selecciona un tipo de
                    habitación</mat-error>
            </mat-form-field>
        </div>
    </div>

    <button mat-button color="primary" [ngClass]="'send-button'" (click)="this.sendRequest()">Consultar</button>

    <div class="rooms-table" *ngIf="this.availableRooms.length > 0">
        <div class="mat-elevation-z8" [ngClass]="'mat-table'">
            <table class="main-color" mat-table [dataSource]="dataSource">

                <!-- Número de Habitación Column -->
                <ng-container matColumnDef="roomNumber">
                    <th mat-header-cell *matHeaderCellDef> Número de Habitación </th>
                    <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
                </ng-container>

                <!-- Tipo Column -->
                <ng-container matColumnDef="roomTypeName">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.roomTypeName}} </td>
                </ng-container>

                <!-- Costo Estadía Column -->
                <ng-container matColumnDef="totalCost">
                    <th mat-header-cell *matHeaderCellDef> Costo Estadía </th>
                    <td mat-cell *matCellDef="let element"> {{element.costTotal}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
    <hr>
    <span *ngIf="this.availableRooms.length == 0">Ingrese los datos solicitados para que se muestren las
        habitaciones.</span>
</div>