.page-content {
    height: 80vh;
}

.main-container {
    display: block;
    position: relative;
    height: calc(100% - 50px);
    overflow: auto;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
}

.input {
    padding: 10px;
}

.title {
    font-weight: bolder;
}

.component-title {
    padding: 1em;
    font-size: x-large;
    font-weight: bolder;
}

.send-button {
    margin: 1em;
    background-color: #85f0e7;
    color: black;
}