<app-navigation-menu></app-navigation-menu>
<div class="page-content">
    <div class="main-container">
        <p class="component-title">Agregar Administrador</p>
        <p>Asigne las credenciales para el nuevo administrador.</p>
        <div class="inputs-container">

            <div class="input">
                <span class="title">Usuario</span>
                <hr>
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput [formControl]="userNameControl" [readonly]="false" type="text">
                    <mat-error *ngIf="passwordControl.hasError('required')">Completar todos los campos</mat-error>
                </mat-form-field>
            </div>

            <div class="input">
                <span class="title">Contraseña</span>
                <hr>
                <mat-form-field>
                    <mat-label>Constraseña</mat-label>
                    <input matInput [formControl]="passwordControl" [readonly]="false" type="password">
                    <mat-error *ngIf="passwordControl.hasError('required')">Completar todos los campos</mat-error>
                </mat-form-field>
            </div>

            <div class="input">
                <span class="title">Confirme contraseña</span>
                <hr>
                <mat-form-field>
                    <mat-label>Confirme contraseña</mat-label>
                    <input matInput [formControl]="confirmPasswordControl" [readonly]="false" type="password">
                    <mat-error *ngIf="confirmPasswordControl.hasError('passwordMismatch')">La contraseña no
                        coincide</mat-error>
                    <mat-error *ngIf="confirmPasswordControl.hasError('required')">Completar todos los
                        campos</mat-error>
                </mat-form-field>
            </div>
        </div>
        <button mat-button color="primary" [ngClass]="'send-button'" (click)="this.sendRequest()">Agregar</button>

        <div class="rooms-table" *ngIf="this.admins.length > 0">
            <div class="mat-elevation-z8" [ngClass]="'mat-table'">
                <table mat-table [dataSource]="dataSource">

                    <!-- Tipo Column -->
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef> Usuario </th>
                        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
            </mat-paginator>
        </div>
        <hr>
    </div>
</div>