<div class="nav-container accent-color">
    <div class="nav-header">
        <h2>Menu</h2>
    </div>
    <div class="nav-options">
        <a class="nav-option" routerLink="/home" routerLinkActive="active">Inicio</a>
        <a class="nav-option" routerLink="/pages" routerLinkActive="active">Modificar Páginas</a>
        <a class="nav-option" routerLink="/reservations" routerLinkActive="active">Listado de reservaciones</a>
        <a class="nav-option" routerLink="/rooms" routerLinkActive="active">Administrar Habitaciones</a>
        <a class="nav-option" routerLink="/status" routerLinkActive="active">Ver estado del Hotel</a>
        <a class="nav-option" routerLink="/availability" routerLinkActive="active">Coonsultar Disponibilidad</a>
        <a class="nav-option" routerLink="/advertisement" routerLinkActive="active">Publicidad</a>
    </div>
</div>