<div class="nav-container accent-color">
    <div class="grid">
        <a class="item" routerLink="/home" routerLinkActive="active">Inicio</a>
        <a class="item" routerLink="/pages" routerLinkActive="active">Modificar Páginas</a>
        <a class="item" routerLink="/reservations" routerLinkActive="active">Listado de reservaciones</a>
        <a class="item" routerLink="/rooms" routerLinkActive="active">Administrar Habitaciones</a>
        <a class="item" routerLink="/status" routerLinkActive="active">Ver estado del Hotel</a>
        <a class="item" routerLink="/availability" routerLinkActive="active">Coonsultar Disponibilidad</a>
        <a class="item" routerLink="/status" routerLinkActive="active">Ver estado del Hotel</a>
        <a class="item" routerLink="/home" routerLinkActive="active">Temporal</a>
        <a class="item" routerLink="/home" routerLinkActive="active">Temporal</a>
    </div>
</div>