.nav-container {
    width: 100%;
}
a {
    all: unset;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.item {
    display: flex;

    --color: #ffa260;
    --hover: #ffa260;

    padding: 1em;
    margin: 0.1em;

    text-align: center;
    justify-content: center;
    align-items: center;

    font-size: medium;
    font-weight: 1000;

    color: var(--color);
    background: none;
    border: 1px solid;    
    line-height: 1;
    transition: 0.25s;

    width: 100%;
}

.item:hover,
.item:focus {
    box-shadow: 0 0.6em 0.6em -0.2em var(--hover);
    transform: translateY(-0.25em);
    border-color: var(--hover);
    color: #fff;
    margin-left: 0.5em;
    margin-right: 0.5em;
    
}