<section class="welcome-section-container">

    <div class="welcome-section-div">
        <img class="welcome-section-image" src="assets/heading.jpg" alt="">
    </div>

    <div class="welcome-section-div">
        <p class="welcome-section-message">¡Bienvenidos a Villa Mami Mar, su destino de montaña favorito! Si está buscando un lugar tranquilo y
            relajante para disfrutar de la naturaleza y el aire fresco de la montaña, ha llegado al lugar adecuado.
            Situado en medio de una hermosa zona montañosa, nuestro hotel ofrece impresionantes vistas panorámicas, aire
            puro y una gran variedad de actividades al aire libre para disfrutar durante todo el año.
            Nuestras acogedoras habitaciones están diseñadas para brindarle la máxima comodidad y privacidad, mientras
            que nuestro personal amable y servicial está siempre a su disposición para asegurarse de que su estadía sea
            perfecta. Desde senderismo hasta paseos en bicicleta y excursiones de pesca,
            hay algo para todos en Villa Mami Mar.
            No importa si está buscando una escapada romántica o una aventura en familia, Villa Mami Mar es el lugar
            ideal para relajarse, rejuvenecer y disfrutar de la belleza natural de las montañas. ¡Esperamos darle la
            bienvenida pronto!
        </p>
    </div>
</section>