.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.message-text {
  max-width: 30em;
  max-height: 30em;
  display: inline-block;
  overflow: auto;
  text-overflow: ellipsis;
}
