<app-navigation-menu></app-navigation-menu>
<div class="page-content">
    <p class="component-title">Modificar páginas</p>
    <div class="grid">
        <a class="item" routerLink="/manage-homepage" routerLinkActive="active">Página de inicio</a>
        <a class="item" routerLink="/manage-facilities" routerLinkActive="active">Página de facilidades</a>
        <a class="item" routerLink="/manage-about" routerLinkActive="active">Página de sobre nosotros</a>
        <a class="item" routerLink="/manage-location" routerLinkActive="active">Página de cómo llegar</a>
    </div>
</div>