.app-body {
    height: fit-content;
    width: 100%;
}

.app-body-main {
    display: flex;
    width: 100%;
    height: 100%;
}

.app-body-content {
    padding: 1em;
    display: flex;
    align-items: left;
    flex-grow: 1;
    flex-direction: column;
    width: 85%;
}

.side-bar {
    display: block;
    width: 15%;
    height: calc(100vh - 150px);
    border: 0.3rem solid #ffffff;
}

.footer {
    text-align: right;
    padding: 0.1rem;
    background-color: #328C52;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
    height:fit-content;
}
