<div class="container">
    <h3 mat-dialog-title>Estás seguro que quieres eliminar el descuento?</h3>
    <div mat-dialog-content>
      <strong>Id:</strong> {{discount.id}}
      <p></p>
      <strong>Nombre:</strong> {{discount.name}}
      <p></p>
      <strong>Descripción:</strong> {{discount.description}}
      <p></p>
      <strong>Porcentaje:</strong> {{discount.porcentage}}
      <p></p>
      <strong>Fecha de inicio:</strong> {{getFormattedDate(discount.startingDate)}}
      <p></p>
      <strong>Fecha de fin:</strong>  {{getFormattedDate(discount.endingDate)}}
      <p></p>
      <strong>Tipo de habitación:</strong> {{discount.roomType.name}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Eliminar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>
  