.room-info-container {
    display: flex;
    justify-content: space-evenly;
}

.room-image {
    width: 20em;
    height: 10em;
}

.room-description {
    width: 50%;
}

.submits {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.input-fields {
    width: 50%;
}