<div class="main-container">
    <div class="room-info-container">
        <img [src]="this.getImageFromBytes(this.roomType?.roomTypeImages)" alt="Room Image" class="room-image">
        <p class="room-description">{{this.roomType?.description}}</p>
    </div>

    <div class="input-fields">
        <p>Monto de su resevación: ₡{{this.roomType?.price}}</p> <!--TODO: Load from previous view, or database, I dunno-->
        <form #userForm="ngForm" (ngSubmit)="applyReservation(userForm)" [noValidate]="false">
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" name="name" placeholder="Nombre" ngModel required>
            </div>
            <div class="form-group">
                <label for="last-name">Apellidos:</label>
                <input type="text" class="form-control" name="last-name" placeholder="Apellidos" ngModel required>
            </div>
            <div class="form-group">
                <label for="email">Correo:</label>
                <input type="text" class="form-control" name="email" placeholder="example@email.com" ngModel required>
            </div>
            <div class="form-group">
                <label for="credit-card">Número de tarjeta:</label>
                <input type="text" class="form-control" name="credit-card" aria-describedby="credit-card"
                    placeholder="XXXX-XXXX-XXXX-XXXX" ngModel required>
            </div>
            
            <div class="form-group">
                <label for="id_number">Identificación:</label>
                <input type="text" class="form-control" name="id_number" aria-describedby="id_number"
                    placeholder="XXXX-XXXX-XXXX-XXXX" ngModel required>
            </div>
            <div class="submits">
                <button type="submit" class="btn btn-primary">Aceptar</button>
                <a (click)="this.cancel()" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>
</div>