<h2>Facilidades</h2>
<div class="containerfaci">
    <div class="card mb-3 cardfacility">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/277705470_390083249788173_8762070684618837682_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=H0nZMjV19i4AX-9hnRc&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfC03g1Cgbth93NlAcgdTjCwvbyq-ZtuaPKS02schnIZYw&oe=64531F4C" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Avistamiento de aves</h5>
                    <p class="card-text">Imagínate un lugar rodeado de exuberantes paisajes naturales, 
                        en donde los huéspedes pueden disfrutar de una experiencia única de contacto con la naturaleza 
                        y la vida silvestre. En este hotel, hay áreas especialmente diseñadas para la observación de aves, 
                        como terrazas, jardines, senderos y miradores estratégicamente ubicados para que los huéspedes puedan 
                        apreciar de manera cómoda y segura a estas fascinantes criaturas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 cardfacility">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/277783742_390077919788706_3184878751978424003_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=4l3IQ9YdN0gAX-pQ7b3&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfAhFGzAaMFaKfzBgyfLCV2IOlK1YAxLNCZvOHCKNVwPTg&oe=645471DA" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Áreas comunes</h5>
                    <p class="card-text">Para garantizar la privacidad y la comodidad de los huéspedes, 
                        los baños compartidos están separados por género y se encuentran en áreas convenientes y 
                        accesibles de nuestro local. Además, nuestros colaboradores se encarga de mantener los baños 
                        limpios y en buen estado durante todo el día.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 cardfacility">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/271166042_327817349348097_1707335702170108624_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=l0JxA1NuFSEAX9rXu_d&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfBiQoUC9O6e2JPkZYyeZlciIvrb23lmrGGGsF_0Pii5eQ&oe=64531335" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Parqueo</h5>
                    <p class="card-text">El parqueo es una de las facilidades más destacadas, ya que se cuenta con un espacio 
                        amplio y seguro para el estacionamiento de autos y otros vehículos. El parqueo del hotel está diseñado para
                         que los huéspedes puedan acceder a él de manera fácil y cómoda. Los espacios están bien organizados, 
                         con suficiente espacio para maniobrar y estacionar el vehículo sin problemas. Además, el parqueo se encuentra en una 
                         zona segura y vigilada, lo que garantiza la protección de los vehículos y la tranquilidad de los huéspedes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 cardfacility">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/203545900_188254169971083_8719092107340670657_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=BP_BBO7qQ9gAX9x3smd&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfCaFC4utu757pLgc34CTc3btIZmIbHsXz2AG333qJ4jTQ&oe=645348E9" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Zona de camping</h5>
                    <p class="card-text">Imagínate un lugar rodeado de naturaleza y paisajes hermosos, que ofrece a sus huéspedes la 
                        oportunidad de disfrutar de la vida al aire libre en una zona de camping. Nuestra zona de camping está 
                        diseñada para brindar una experiencia única y auténtica a los huéspedes que deseen explorar la naturaleza y 
                        acampar bajo las estrellas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 cardfacility">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://scontent.fsjo7-1.fna.fbcdn.net/v/t39.30808-6/274187511_358480449615120_1676738231975032263_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=sDu_MSZ31gAAX9Qwu-9&_nc_ht=scontent.fsjo7-1.fna&oh=00_AfB42fOxsWLnrecEZf64vQZSDDad4FwR7_S68XdL9-2JmQ&oe=6452FE7D" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Cercanía al Río Gato</h5>
                    <p class="card-text">Contamos con acceso directo al Río Gato, lo que permite a los huéspedes disfrutar 
                        de este hermoso río sin tener que desplazarse a otros lugares. La zona del río está diseñada para garantizar la seguridad 
                        y la comodidad de los huéspedes, es una opción ideal para aquellos huéspedes que desean disfrutar de actividades acuáticas 
                        en un ambiente natural y seguro.  </p>
                </div>
            </div>
        </div>
    </div>
</div>