<h2>Facilidades</h2>
<div class="containerfaci" *ngIf="facilities">


    <div class="card mb-3 cardfacility" *ngFor="let ad of facilities; let i = index">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="ad.image" class="card-img">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">{{ad.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>