.menu-sidebar-container {
    color: black;
    height: fit-content;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #0c2e59;
    margin-bottom: 0.3rem;
}

.menu-sidebar-container>.menu-sidebar {
    height: 100%;
    overflow-y: auto !important;
    overflow-x: hidden;
    position: relative;
    display: flex !important;
    flex-direction: column;
}

.menu-sidebar-container>.menu-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: left;
}

.menu-sidebar-container>.menu-sidebar>ul li {
    display: flex;
    align-items:center;
    justify-content:center;
    height: fit-content;
    width: 90%;
    background-color: transparent;
    list-style-position:inside;
    margin: 0.5rem;
}

.menu-sidebar-container>.menu-sidebar>ul>li a {  
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: white;
    border-radius: 1em;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 0.1em;
}

.menusidebar-header {
    display: flex;
    align-items:center;
    justify-content:center;
    font-weight: bolder;
    font-size: 18px;
    height: 40px;
    width: 100%;
    background-color: white;
}