<aside class="menu-sidebar-container">
    <div class="menu-sidebar flex-column">
        
        <ul class='nav nav-pills flex-column mb-auto'>
            <li class='nav-item'>
                <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Sobre nosotros</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/facilities" routerLinkActive="active" ariaCurrentWhenActive="page">Facilidades</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/location" routerLinkActive="active" ariaCurrentWhenActive="page">Cómo llegar?</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/rates" routerLinkActive="active" ariaCurrentWhenActive="page">Tarifas</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/reservation" routerLinkActive="active" ariaCurrentWhenActive="page">Reservar en línea</a>
            </li>
            <li class='nav-item'>
                <a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Contactenos</a>
            </li>
            <app-advertising-section></app-advertising-section>
        </ul>

        
    </div> 
</aside>